#!/usr/bin/env sh

# git aliases
alias g='git'
alias gs='git status'
alias gi='git init'
alias ga='git add'
alias ga.='git add .'
alias gc='git commit -m'
alias gca='git commit -a -m'
alias gpl='git pull'
alias gp='git push'
alias gf='git fetch'
alias gm='git merge'
alias gb='git branch'
alias gl='git log'
alias gd='git diff'
alias gch='git checkout'

# Dotfiles handling
alias dots='/usr/bin/git --git-dir=$HOME/.dots.git --work-tree=$HOME'
alias dots-ls='dots ls-files'
compdef dots="git --git-dir=$HOME/.dots.git/ --work-tree=$HOME" 2> /dev/null

alias ip='ip --color=auto'
alias pip-update='pip list --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip install -U'


# run alias commands with sudo
alias sudo='sudo '

alias o='rifle' # rangers file opener
alias v='nvim'
alias vi='nvim'

# quality of life
pingd () {
  ping $(ip route | awk '/^default via/ { print $3 ; exit }') # ping the default gateway
}

# SSN
alias age-knecht='echo "https://daten.stusta.de/files/008300/js.webm" | nc knecht.stusta.de 60601'
alias hymne-knecht='echo "https://dokumente.stustanet.de/hymne.mp3" | nc knecht.stusta.de 60601'
alias xonotic-knecht='echo "https://daten.stusta.de/files/013253/music/xonotic/xonotic_cat.ogg" | nc knecht.stusta.de 60601'


function copy-ssh {
    cat /usr/share/terminfo/a/alacritty | ssh $@ sh -c "'mkdir -p .terminfo/a/ && cat > .terminfo/a/alacritty'"
    cat $HOME/.zshrc_server | ssh $@ sh -c "'cat > .zshrc'"
    ssh $@
}
compdef copy-ssh=ssh 2> /dev/null

# scan
alias scan='utsushi scan --no-interface --image-format=PDF --resolution=600 >'
alias scan_duplex='utsushi scan --no-interface --image-format=PDF --resolution=600 --duplex --doc-source=ADF >'
alias scan_simplex='utsushi scan --no-interface --image-format=PDF --resolution=600 --doc-source=ADF >'

alias pypy='pypy3'
alias sft-ran-vpn='pushd /home/leo/.config/vpn/sft.ran/; sudo openvpn --daemon --config sftnet.ovpn; popd'
